/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B1416;
}


/*cabecera*/

.header {
    color: #FFF;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #0B1416;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    color: #FFF;
}

.logo {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    width: 25%;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: -5px;
}

.search-bar form {
    width: 100%;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 25%;
}

.login {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.login:hover {
    background-color: #FFF;
    color: #0B1416;
}





/*contenido*/

.container {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Alinea las tarjetas y el div a la izquierda y derecha */
    max-width: 1416px;
    /* Ancho máximo del contenedor principal */
    margin: 0 auto;
    margin-top: 50px;
    /* Centra el contenedor en la página */
}

/* Estilos de la barra lateral */
.dashboard-nav {
    color: #000000;
    width: 240px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.dashboard-nav header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.dashboard-nav header .menu-toggle {
    margin-right: auto;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.dashboard-nav header .menu-toggle:hover {
    background-color: #0B1416;
}

.brand-logo {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.brand-logo i {
    font-size: 36px;
    margin-right: 10px;
}

.dashboard-nav-list {
    padding: 0;
    list-style: none;
}

.dashboard-nav-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dashboard-nav-item i {
    margin-right: 10px;
    font-size: 20px;
}

.dashboard-nav-item .icon-right {
    margin-left: auto;
}

.dashboard-nav-item:hover {
    background-color: #3b3939;
}

.active {
    background-color: #1A282D;
}

.nav-item-divider {
    height: 1px;
    background-color: #0B1416;
    margin: 10px 0;
}

/*cards*/

.main-content {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 280px);
    justify-content: flex-end;
}

.card {
    padding: 1%;
    width: auto;
    margin: 10px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    border-radius: 25px;
    flex-basis: calc(100% - 10px);
    margin-left: 300px;
    max-width: 800px;
}

.card:hover {
    background-color: #1c2729;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    color: #999;
}

.btnUser {
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    font-size: 12px;
}

.text {
    color: white;
    margin-bottom: 10px;
}

.prompt {
    flex-direction: row;
}

.postImage {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.textPost {
    color: #000;
    font-style: italic;
    font-weight: bold;
}

.icons {
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.icon:hover {
    font-size: 20px;
    color: red;
    transform: translate(0px, 0px);
}

.icon {
    color: #ffffff;
    font-size: 20px;
}

.likeButton,
.commentButton {
    padding: 10px;
    display: flex;
    border-radius: 18px;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: #223035;
}

.commentButton {
    margin-left: 5px;
}

.likeCount,
.commentCount {
    margin-left: 5px;
    color: white;
    font-size: 0.8em;
}

.creationDate {
    margin-left: auto;
    color: #999;
    font-size: 12px;
}

/*barra lateral derecha*/

.custom-div {
    background-color: #223035;
    padding: 10px;
    border-radius: 15px;
    color: white;
    width: 240px;
    position: sticky;
    top: 100px;
    max-height: 75vh;
    overflow-y: hidden;
    /* Agrega desplazamiento vertical cuando sea necesario */
}

.custom-scroll-container {
    /* Estilos para el contenedor de desplazamiento */
    max-height: 100%;
    /* Toma la altura máxima de su contenedor padre */
    overflow-y: auto;
    /* Agrega desplazamiento vertical cuando sea necesario */
}

.custom-scroll-container::-webkit-scrollbar {
    width: 0;
    /* Oculta la barra de desplazamiento de WebKit (Chrome, Safari, etc.) */
}

/* Estilos para el enlace personalizado */
.custom-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, text-decoration 0.3s;
}

.custom-link:hover {
    color: var(--text-secondary-hover);
    background-color: var(--neutral-background-hover);
    text-decoration: none;
}

.custom-link:active {
    background-color: var(--interactive-pressed);
}

/* Estilos para el contenido del enlace */
.custom-link-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Estilos para el icono personalizado */
.custom-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* Estilos para el texto personalizado */
.custom-text {
    flex: 1;
}

.custom-title {
    font-size: 1rem;
    color: var(--neutral-content);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-subtitle {
    font-size: 0.75rem;
    color: var(--text-secondary-weak);
}

/* Estilos para el marcador de posición del icono */
.custom-icon-placeholder {
    width: 1.25rem;
    height: 1.25rem;
}