<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teleforum</title>
    <link rel="stylesheet" href="../CSS/login.css">
</head>

<body>

    <header class="header">
        <nav class="nav">
            <a href="/" class="logo" aria-label="Home">FORUM</a>
            <div class="search-bar">
                <form action="/search" method="GET">
                    <input type="text" placeholder="Buscar en Forum">
                </form>
            </div>
            <div class="actions">
                <a href="./register.html" class="login">Registrarse</a>
            </div>
        </nav>
    </header>

    <div id="login-box">
        <div class="left">
            <h1>Log in</h1>
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password2" placeholder="Retype password" />
            <input type="submit" name="signup_submit" value="Sign me up" />
        </div>
        <div class="right">
            <span class="loginwith">Log in with<br />social network</span>
            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin twitter">Log in with Twitter</button>
            <button class="social-signin google">Log in with Google+</button>
        </div>
        <div class="or">OR</div>
    </div>
</body>

</html>